//output:index.html
<!DOCTYPE html>

html
  head
    meta(charset="UTF-8")
    title Project name · Subtitle
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    meta(name="description" content="")
    meta(name="keywords" content="")
    link(rel="stylesheet" href="css/style.css")
  body
    header
      h1 Loomer Gulp Starter
    section
      h2 About
      .underline
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      img(src="https://bytesizemoments.com/wp-content/uploads/2014/04/placeholder.png")
    section.three-col
      article
      article
      article
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="js/index.js")
    script(src="js/local.js")
