//output:index.html
<!DOCTYPE html>

html
  head
    meta(charset="UTF-8")
    title McGlinn's Public House · The Place to Eat in Wenatchee
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    meta(name="description" content="")
    meta(name="keywords" content="")
    link(rel="stylesheet" href="css/style.css")
  body
    .navigation-sidebar
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") Menu
          li
            a(href="#") About
          li
            a(href="#") Hours
          li
            a(href="#") Events
          li
            a(href="#") Contact
    .nav-bar
      a.logo(href="#")
        img(src="img/logo.png" alt="McGlinn's Logo")
        h4 McGlinn's
        h5 Public House
      a.menu-btn
        span
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") Menu
          li
            a(href="#") About
          li
            a(href="#") Hours
          li
            a(href="#") Events
          li
            a(href="#") Contact
    .site-background
      img(src="img/header-background")
    header
      h1 McGlinn's<br> Public House
      p 111 ORONDO AVE, WENATCHEE, WA
      a.tele(href="tel:509-663-9073")  509.663.9073
      a.menu-link(href="#") View Menu

    
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="js/index.js")
    script(src="js/local.js")
